.main {
    margin-top: 10%;
    /* padding: 0 0 5% 15%; */
    padding-top: 80px;
    padding-left: 20px;
    width: auto;
  }
table {
  width: auto;
  table-layout: fixed;
}

table th {
    text-align: center;
}

body {
  padding : 10px ;
  
}
nav {
  margin-top: 120px !important;

}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}


@media only screen and (max-width: 600px) {
  .main {
    padding-left: 0;
  }
}


