.content-wrapper {
    margin-top: 120px;
}

td {
    text-align: center;
}

span {
    padding: 5px;
}

.print-style {
    text-align: left;
}

.submit-button {
    text-align: right;
}

.shipping-infomation{
    text-align: left;
}