.increase-button {
    border-radius: 0px 20px 20px 0px;
    height: 30px;
    margin-top: 0px;
}

.decrease-button {
    border-radius: 5px 0px 0px 5px;
    height: 30px;
    margin-top: 0px;
}

.product-quantity-input {
    width: 25px;
    height: 30px;
    /* margin-top: 0px;
    padding-top: 2px; */
    border: 0px;
    text-align: center;
}

td .dropdown-menu {
    position: absolute !important;
}