*{
    padding: 0;
    margin: 0;
}
.footer-container {
	width: 100%;
	height: 100px;
    float: right;
    margin-top: 150px;
	/* margin: 0px; */
    padding: 0px;
    display: block;
    /* background-color: #888; */
}

.footer-container p, h4 {
    text-align: center;
}